body {
    /*background-color: #6F2DBD;*/
    /*background-color: #A663CC;*/
    /*background-color: #B298DC;*/
    /*background-color: #B8D0EB;*/
    /*background-color: #B9FAF8;*/
}

img:hover {
    transform:scale(1.2);
}

h1  {
    font-size: 72px;
}
